@use '../typography/typography' as *;
@use '../partials/reset.scss' as *;

.MoviePage {
    height: 100vh;
    width: 100vw;
    min-width: 32rem;
    background-image: linear-gradient(
        rgba(black, 0.2), 
        rgba(black, 0.2)),  
        url(../../assets/movie-screen.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 5rem 1.6rem;
    margin: auto;
    text-align: center;
    
    ::placeholder {
        font-size: 1.5rem;
    }

    &__Form {
        display: flex;
        justify-content: center;
    }

    &__BackArrow--Link {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        padding-bottom: 3rem;
        text-decoration: none;
    }

    &__BackArrow--Text {
        color: #E50914;
        font-size: 1.4rem;
        font-family: Chango;
        text-transform: uppercase;
    }
    
    &__BackArrow {
        height: 5rem;
    }

    &__YouTube--Search {
        width: 65%;
        height: 5rem;
        border-radius: 5rem;
        padding-left: 4rem;
        font-size: 2rem;

        &:focus {
            outline: none;
            outline: none;
            border-color: #c8362e;
            box-shadow: 0 0 10px #c8362e;
        }
    }

    &__YouTube--Button {
        width: 12rem;
        height: 5rem;
        background-color: #E50914;
        color: #FFF;
        text-decoration: none;
        font-family: Chango;
        font-size: 1.4rem;
        text-transform: uppercase;
        border-radius: 5rem;
        margin-left: 1rem;
    }

    &__Text--Wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 5rem;
    }

    &__Header {
        font-size: 5rem;
        font-family: Chango;
        color: #FFF;
        margin-bottom: 1rem;
        text-transform: uppercase;
    } 

    &__SubHeader--Wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    &__SubHeader {
        font-size: 5rem;
        font-family: Chango;
        color: #FFF;
        text-transform: uppercase;
    }

    &__Header--Image {
        height: 5rem;
        margin-left: 3rem;
    }
}